<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Smily_Rating" />
        <activity android:name=".Images9" />
        <activity android:name=".Images8" />
        <activity android:name=".Images7" />
        <activity android:name=".Images6" />
        <activity android:name=".Images5" />
        <activity android:name=".Images4" />
        <activity android:name=".Others_Levels3" />
        <activity android:name=".Othes_Levels3" />
        <activity android:name=".Others_Levels2" />
        <activity android:name=".Images3" />
        <activity android:name=".Images2" />
        <activity android:name=".Images" />
        <activity android:name=".Others_Levels" />
        <activity android:name=".Levels" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>